body {
  background: linear-gradient(
    109.6deg,
    rgb(17, 151, 147) 11.2%,
    rgb(154, 214, 212) 55.4%,
    rgb(255, 233, 171) 100.2%
  );
  opacity: 90%;
  font-family: monospace;
}

.daysContainer {
  display: block;
  margin-left: 60px;
  margin-top: 20px;
}

.Days {
  background: linear-gradient(
    112.5deg,
    rgb(95, 10, 135) 11.4%,
    rgb(164, 80, 139) 60.2%
  );
  border-spacing: 10mm;
  color: rgb(201, 173, 221);
  line-height: 10mm;
  text-align: center;
  font-size: 12pt;
  height: calc(1.5 em + 0.75 rem + 2 px);
  border-radius: 10px;
}

.container {
  margin-top: 1rem;
}

.temperature {
  font-size: 28pt;
}

.btn {
  background: linear-gradient(
    112.5deg,
    rgb(95, 10, 135) 11.4%,
    rgb(164, 80, 139) 60.2%
  );

  border-color: rgb(69, 73, 83);
  box-shadow: black;
  border: 1px;
}

.currentbtn {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  width: 80%;
  color: ivory;
  background: linear-gradient(
    112.5deg,
    rgb(95, 10, 135) 11.4%,
    rgb(164, 80, 139) 60.2%
  );
  border-color: rgb(69, 73, 83);
  box-shadow: black;
  border: 1px;
  border-radius: 10pt;
}

.btn:hover {
  background: rgb(164, 80, 139);
  cursor: grabbing;
  border-color: rgb(164, 80, 139);
  border-radius: 10px;
}

.currentbtn:hover {
  background: rgb(164, 80, 139);
  cursor: grabbing;
  border-color: rgb(164, 80, 139);
}

h1 {
  text-transform: capitalize;
  font-size: 24pt;
  color: black;
  text-align: left;
  display: block;
  font-weight: 100;
  padding-left: 20px;
}

h2 {
  font-size: 20pt;
  color: black;
  text-align: left;
  display: block;
  padding-left: 20px;
}

ul {
  font-size: 12pt;
  color: black;
  text-align: left;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
}

li {
  text-transform: capitalize;
}

.temperature {
  display: inline;
  margin: 0 auto;
  text-align: left;
  font-size: 24pt;
  color: black;
}

.currentWeatherbox {
  background-color: cornsilk;
  margin-top: 1rem;
  border-radius: 5mm;
  width: 80%;
  height: calc(1.5 em + 0.75 rem + 2 px);
  padding-top: 1rem;
}

footer {
  color: black;
  font-size: 10pt;
  width: 400px;
}

.weather-app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  margin: 30px auto;
  border-color: rgb(69, 73, 83);
  border-radius: 10px;
  border: 1px;
}
